<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Web" tabIcon="at"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Two-Way" tabIcon="attach"></ion-tab>
</ion-tabs>
