<ion-header>
  <ion-navbar>
    <ion-title>
      Web
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <button ion-button color="primary" (click)="getMessage()" block>
        Download
    </button>

    <ion-card *ngIf="this.message">
        <ion-card-header>
            Response result
        </ion-card-header>
        <ion-card-content>
            {{ message | json }}
        </ion-card-content>
    </ion-card>
</ion-content>
