<ion-header>
  <ion-navbar>
    <ion-title>
      Two-way
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-input type="text" [(ngModel)]="this.text"></ion-input>

    <ion-card *ngIf="this.text">
        <ion-card-header>
            Two way bound data
        </ion-card-header>
        <ion-card-content>
            {{ text }}
        </ion-card-content>
    </ion-card>
</ion-content>
