<h1>Hello {{ name }}</h1>

<div>
    Name: <input [(ngModel)]="name" type="text">
    <button (click)="save(name)">Add</button>
</div>
<div>
    <h2>Users (remove)</h2>
    <div>
        <ul *ngIf="users.length">
            <li *ngFor="let u of users" (click)="remove(u)">
                <div>{{u}}</div>
            </li>
        </ul>
    </div>
</div>
<h3>Show some JSON:</h3>
<div *ngIf="resp">
    UserID: {{resp.userId}}<br> ID: {{resp.id}}<br> Title: {{resp.title}}<br> Body: {{resp.body}}<br>
</div>