<h1>Hello {{ name }}</h1>

<div>
    Name: <input #input_id type="text">
    <button (click)="save(input_id.value)">Add</button>
</div>
<div>
    <h2>Users</h2>
    <div>
        <ul *ngIf="users.length">
            <li *ngFor="let user of users" (click)="remove(user)">
                <div>{{ user }}</div>
            </li>
        </ul>
    </div>
</div>

<my-cmp></my-cmp>

<multiplier></multiplier>